*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  width: 100%;
  height: auto;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 209, 209);
}

header{
  width: 100%;
  max-height: 750px;
  margin: 0px auto;
  margin-bottom: 80px;
}

.nav{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav h3{
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: rgba(29, 29, 29, 0.959);
}

.nav a{
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ff4242c2;
  border-radius: 24px;
  color: rgba(29, 29, 29, 0.959) ;
  transition: .5s ease;
}

.nav a:hover{
  color: aliceblue;
  background-color: tomato;
  border: none;
}

.hero{
  height: 650px;
  background-image: linear-gradient( rgba(4, 9, 30, 0.5),
	rgba(4, 9, 30, 0.5)),url(image/bg-shop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  border-radius: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

.hero h2{
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 12px;
  color: antiquewhite;
}

.hero p{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 24px;
  color: rgb(255, 254, 253);
}

.hero a{
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 40px;
  background-color: rgb(255, 106, 6);
  border-radius: 24px;
  color: aliceblue;
  transition: .5s ease all;
}

.hero a:hover{
  border: 2px solid rgb(255, 106, 6);
  background-color: transparent;
}

/* shop st */

main{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.shop{
  
  align-items: center;
  justify-content: center;
  text-align: center;
}

.shop h3{
  font-weight: 800;
  font-size: 38px;
  margin-bottom: 24px;
}

.shop-all{
  display: grid;
  grid-template-columns: 300px auto 300px;
  justify-content: center;
  gap: 20px;
  
}
.shop-item{
  width: 100%;
  max-height: 1000px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  padding: 40px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.menu{
  text-align: left;
  overflow: hidden;
}

.menu h4{
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
  border-bottom: 3px solid tomato ;
}



.menu ul li{
  padding: 5px 0;
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  padding: 5px 0 5px 10px;
  color: rgb(73, 73, 73);
  transition: .3s ease all;
}

.menu ul li a:hover{
  color: tomato;
}


.shop-item h3{
  font-weight: 600;
  font-size: 24px;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 3px solid tomato;
}

.products-item{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: left;
}

.product{
  padding: 10px;
  margin: 5px;
}

.product img{
  width: 200px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.product h4{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  color: rgb(14, 14, 14);
}

.product h2{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  color: rgb(36, 36, 36);
}

.product p{
  font-weight: 200;
  font-size: 14px;
  color: rgb(37, 37, 37);
  margin-bottom: 25px;
}

.product-btn{
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 24px;
  color: aliceblue;
  background-color: tomato;
  transition: .5s ease;
}

.product-btn:hover{
  border: 1px solid tomato;
  color: tomato;
  background: transparent;
}

.blog{
  width: 100%;
  height: 1000px;

}

.all-blogs{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px  0;
}

.blogs{
  text-align: left;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
}

.blogs img{
  width: 50px;
  border: 2px solid tomato;
  border-radius: 50%;
  margin-bottom: 10px;
}

.blogs h4{
  font-weight: 600;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.blogs > p{
  font-weight: 400;
  font-size: 16px;
  color: rgb(20, 20, 20);
  margin-bottom: 5px;
}

.date{
  display: flex;
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 5px;
  color: rgb(59, 59, 59);
}

.day{
  margin-right: 5px;
}

/* footer st */

footer{
  width: 100%;
  margin: 10px auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

footer h1{
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 10px;
}







/* media small screen */

@media screen and (max-width:576px) {
  .hero{
    padding: 0 40px;
  }
  .shop{
    width: 350px;
  }
  .shop-all{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .menu{
    width: 100vw;
  }

  .menu ul{
    display: flex;
    margin-top: 5px;
    overflow: scroll;
  }

  .menu ul li a{
    border-right: 1px solid tomato;
    padding: 0 5px;
    
  }

  .menu ul:last-child{
    border: none;
    
  }
  .products-item{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    overflow: scroll;
  }
} 

